body {
    margin: 0;
    padding: 0;
}

.homePageContainer {
    width: 100%;
    min-height: 75vh;
    padding: 0;
    overflow: hidden;
    margin: 0;

}

.homeTop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 0;
    padding: 3rem 4rem 4rem 4rem;
    background-image: url(https://static.hiretechladies.com/ssr/home/images/hero-ad67aaf.jpg);
    width: 100%;
    position: relative;
}

@media(max-width: 900px){
    .homeTop {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media(min-width: 900px){
    .homeTop {
        grid-template-columns: repeat(1, 1fr);
    }
}


.homeDesc {
    display: flex;
    font-family: 'Cubano-Sharp';
    justify-content: center;
    line-height: 1;
    text-align: center;
    font-style: italic;
    color: white;
    background-position: center;
    padding: 60px 45px;
}


.moreBtn {
    display: flex;
    border-radius: 2px;
    box-sizing:content-box;
    font-size: 14px;
    line-height: 47.88px;
    height: 47.88px;
    padding: 0 35px;
    display: inline-block;
    text-decoration: none;
    border: 0px;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    font-weight: 500;
    text-align: center;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: #2e62af;
  }
  
  .moreBtn:hover {
    background-color:#0f346c;
  }



.homeBottom {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    margin: 2.5rem 0 2.2rem 0;
    padding: 1rem 0 2.5rem 0;
    font-family: "Cera Pro", "HelveticaNeue", "Helvetica Neue", "HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", "TeXGyreHerosRegular", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
    width: 100%;
}



.homeBottom > div > h3 {
    padding: 0;
    font-family: 'Marcellus', serif;
    font-size: 3vh;
    color: var(--watermelonRed);
    margin: 2rem 0 0 3rem;
}




