

.article {
    background-color:#e2a78f;
    border-radius: 10px;
    margin: 15px 1px;
    padding: 10px 15px;
    
}

.content{
    column-gap: 30px;
    padding: 2rem 3rem 2rem 3rem;
    line-height: 2em;
    bottom: 0px;

}

@supports (display: grid) {
    .article {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 700px){
        .article {
            grid-template-columns: 1fr;

        }
    }
}

header {
    padding-bottom: 40px;
}
